@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

.page-header {
    position: relative;
}

.page-header-img {
    width: 100%;
    height: auto;
    display: block;
}

.logo {
    width: 200px;
    margin: 0px 0px 20px 0px;
    border-radius: 5px 5px 5px 5px;
}

.page-searchbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.search {
    padding: 8px;
    width: 300px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #ccc;
    outline: none;

}

.button {
    padding: 8px 15px 8px 15px;
    background-color: rgb(30, 163, 245);
    border: none;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.button:hover {
    color: rgb(30, 163, 245);
    background-color: white;
}

.fa-search {
    background-color: white;
    padding: 8px;
    border-radius: 5px 5px 5px 5px;
}