<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/suncloud.png"  type="image/x-icon">
    <title>Aircast</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/airquality.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href= "{{ url_for('static',filename='img/suncloud.png') }}" type="image/x-icon">
    <style>
    </style>
</head>
<body>
    {% if data.cityname and data.lastupdate%}
    <header>
        <div class="header-logo">
            <img src="{{ url_for('static',filename='img/logo1.png') }}" alt="">
        </div>
        <div class="header-location">
            <img src="{{ url_for('static',filename='img/location .png') }}" alt="" height="50px">
            <p style="margin-left: 10px; color: white;"><b>{{data.cityname}}</b>, Tamil Nadu</p>
        </div>
        <form method = "POST">
        <div class="header-search">
            <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            <input type="text" name ="city" class="search-box" placeholder="Search for places"/>
        </div>
        </form>
    </header>   

    <main class="page-content">

        <nav class="navi">
            <div class="navi-part1">
                <a href="{{url_for('forecast')}}" class="navi-content">TODAY</a>
                <a href="{{url_for('hourly')}}" class="navi-content">HOURLY</a>
                <a href="{{url_for('daily')}}" class="navi-content">DAILY</a>
                <a href="#" class="navi-content">AIR QUALITY</a>
            </div>
            <div class="navi-part2">
                <p class="navi-content">RELATED NEWS</a>
            </div>
        </nav>  
        <hr class="navi-hr">

        <div class="page-airquality-card">
            <div class="col-1">
                <main class="airquality-card">
                    <div class="airquality-card-head">
                        <span>Air Quality Status</span>
                        <span>Last updated at: {{data.lastupdate}}</span>
                        <br />
                    </div>
                </div>
                <br>
                <br>
                <br>
                <h3 id = "text">Airquality data unavailable for this city at this moment!</h3>
                    {% endif %}
            <!-- JINJA TEMPLATE -->
            <!-- FLASK INTEGRATION GOES HERE -->

        </div>

    </main>

    <!-- <footer>
        <span>AirCast,2023 Developed with ❤️ by TEAM PERCEPTRON</span>
    </footer> -->
</body>
</html>