<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality Card</title>
    <link rel="stylesheet" href="./styles/airqualitycard.css">
</head>
<body>
    <main class="airquality-card">
        <div class="airquality-card-head">
            <span>Air Quality Status</span>
            <span>09:00 AM</span>
        </div>
        <hr class="airquality-card-line">
        <div class="airquality-card-content">
            <div class="content-col1">
                <div class="aqi-circle">
                    <span class="aqi-value">4</span>
                    <span class="aqi-text">AQI</span>
                </div>
            </div>
            <div class="content-col2">
                <div class="content-col2-row1">
                    <span>Air Quality: </span>
                    <span class="aqi-remark">Moderate</span>
                </div>
                <div class="content-col2-row2">
                    <span>
                        The air quality is ideal for most individuals; enjoy your normal outdoor activities.
                    </span>
                </div>
            </div>

        </div>


    </main>
    <main class="airpollutants-card">
        <div class="airquality-card-head">
            <span>Air Pollutants</span>
            <span>09:00 AM</span>
        </div>
        <hr class="airquality-card-line">
        <div class="airpollutants-card-content">
            <div class="airpollutants-card-col1">
                <span class="airpollutants-name">CO</span>
            </div>
            <div class="airpollutants-card-col2">
                <span class="airpollutants-desc">
                    Exposure to Sulfur Dioxide can lead to throat and eye irritation and aggravate asthma as well as chronic bronchitis.
                </span>
            </div>
            <div class="airpollutants-card-col3">
                <span>40</span>
                <span>μg/m3</span>
            </div>
        </div>
        <div class="airpollutants-card-content">
            <div class="airpollutants-card-col1">
                <span class="airpollutants-name">NO</span>
            </div>
            <div class="airpollutants-card-col2">
                <span class="airpollutants-desc">
                    Exposure to Sulfur Dioxide can lead to throat and eye irritation and aggravate asthma as well as chronic bronchitis.
                </span>
            </div>
            <div class="airpollutants-card-col3">
                <span>40</span>
                <span>μg/m3</span>
            </div>
        </div>
        <div class="airpollutants-card-content">
            <div class="airpollutants-card-col1">
                <span class="airpollutants-name">NO₂</span>
            </div>
            <div class="airpollutants-card-col2">
                <span class="airpollutants-desc">
                    Exposure to Sulfur Dioxide can lead to throat and eye irritation and aggravate asthma as well as chronic bronchitis.
                </span>
            </div>
            <div class="airpollutants-card-col3">
                <span>40</span>
                <span>μg/m3</span>
            </div>
        </div>
        <div class="airpollutants-card-content">
            <div class="airpollutants-card-col1">
                <span class="airpollutants-name">O₃</span>
            </div>
            <div class="airpollutants-card-col2">
                <span class="airpollutants-desc">
                    Exposure to Sulfur Dioxide can lead to throat and eye irritation and aggravate asthma as well as chronic bronchitis.
                </span>
            </div>
            <div class="airpollutants-card-col3">
                <span>40</span>
                <span>μg/m3</span>
            </div>
        </div>
        <div class="airpollutants-card-content">
            <div class="airpollutants-card-col1">
                <span class="airpollutants-name">SO₂</span>
            </div>
            <div class="airpollutants-card-col2">
                <span class="airpollutants-desc">
                    Exposure to Sulfur Dioxide can lead to throat and eye irritation and aggravate asthma as well as chronic bronchitis.
                </span>
            </div>
            <div class="airpollutants-card-col3">
                <span>40</span>
                <span>μg/m3</span>
            </div>
        </div>
        <div class="airpollutants-card-content">
            <div class="airpollutants-card-col1">
                <span class="airpollutants-name">PM₂․₅</span>
            </div>
            <div class="airpollutants-card-col2">
                <span class="airpollutants-desc">
                    Exposure to Sulfur Dioxide can lead to throat and eye irritation and aggravate asthma as well as chronic bronchitis.
                </span>
            </div>
            <div class="airpollutants-card-col3">
                <span>40</span>
                <span>μg/m3</span>
            </div>
        </div>
        <div class="airpollutants-card-content">
            <div class="airpollutants-card-col1">
                <span class="airpollutants-name">PM₁₀</span>
            </div>
            <div class="airpollutants-card-col2">
                <span class="airpollutants-desc">
                    Exposure to Sulfur Dioxide can lead to throat and eye irritation and aggravate asthma as well as chronic bronchitis.
                </span>
            </div>
            <div class="airpollutants-card-col3">
                <span>40</span>
                <span>μg/m3</span>
            </div>
        </div>
        <div class="airpollutants-card-content">
            <div class="airpollutants-card-col1">
                <span class="airpollutants-name">NH₃</span>
            </div>
            <div class="airpollutants-card-col2">
                <span class="airpollutants-desc">
                    Exposure to Sulfur Dioxide can lead to throat and eye irritation and aggravate asthma as well as chronic bronchitis.
                </span>
            </div>
            <div class="airpollutants-card-col3">
                <span>40</span>
                <span>μg/m3</span>
            </div>
        </div>
    </main>

</body>
</html>