<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/homepage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="icon" href= "{{ url_for('static',filename='img/suncloud.png') }}" type="image/x-icon">
    <title>Aircast</title>
    </style>
</head>
<body>
    <div class="page-header">
        <img class="page-header-img" src="{{ url_for('static',filename='img/homepage_background.png') }}" alt="">
        
        <div class="page-searchbox">
            <img class="logo" src="{{ url_for('static',filename='img/logo1.png') }}">
            <form method = "POST">
                <!-- <i class="fa fa-search"></i> -->
                <input type="text" name="city" class="search" placeholder="&nbsp;&nbsp;Search for places"/>
                <button type="submit" class="button" id ="submit">Search</button>
            </form>
        </div>
    </div>
</body>
</html>