<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/newscard.css">
    <title>News Card</title>
</head>
<body>
    <div class="news-card-container">
        <img class="news-card-img" src="../static/img/airnews1.png" alt="">
        <div class="news-card-title">
            <span>Increasing number of E vehicles in Tamil Nadu. Does it reduce air pollution?</span>
        </div>
        <div class="news-card-caption">
            <span>Posted on: Apr 30 10:00 AM</span>
        </div>
    </div>

    <div class="news-card-container">
        <img class="news-card-img" src="../static/img/airnews1.png" alt="">
        <div class="news-card-title">
            <span>Increasing number of E vehicles in Tamil Nadu. Does it reduce air pollution?</span>
        </div>
        <div class="news-card-caption">
            <span>Posted on: Apr 30 10:00 AM</span>
        </div>
    </div>

    <div class="news-card-container">
        <img class="news-card-img" src="../static/img/airnews1.png" alt="">
        <div class="news-card-title">
            <span>Increasing number of E vehicles in Tamil Nadu. Does it reduce air pollution?</span>
        </div>
        <div class="news-card-caption">
            <span>Posted on: Apr 30 10:00 AM</span>
        </div>
    </div>
</body>
</html>