<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="suncloud.png"  type="image/x-icon">
    <title>Aircast</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    {% if data.country_code and data.coordinate and data.temp and data.pressure and data.humidity and data.lastupdate and data.weather and data.maxtemp and data.mintemp and data.visibility and data.wind and data.img %}
    <header>
        <div class="header-logo">
            <img src="{{ url_for('static',filename='img/logo1.png') }}" alt="">
        </div>
        <div class="header-location">
            <img src="{{ url_for('static',filename='img/location .png') }}" alt="" height="50px">
            <p style="margin-left: 10px; color: white;"><b>{{data.cityname}}</b>, Tamil Nadu</p>
        </div>
        <div class="header-search">
            <form method ="POST">
            <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            <input type="text" name = "city" class="search-box" placeholder="Search for places"/>
            </form>
        </div>
    </header>   

    <main class="page-content">

        <nav class="navi">
            <div class="navi-part1">
                <a href="#" class="navi-content">TODAY</a>
                <a href="#" class="navi-content">HOURLY</a>
                <a href="#" class="navi-content">DAILY</a>
                <a href="#" class="navi-content">AIR QUALITY</a>
            </div>
        </nav>  
        <hr class="navi-hr">

        <div class="page-weathercard">
            <main class="weathercard-main">
                <div class="weathercard-head">
                    <p>Current Weather</p>
                    <p>{{data.lastupdate}}</p>
                </div>
                
                <hr>
        
                <div class="weathercard-temp">
                    <div class="part-1">
                        <img class='temp-img' src={{data.img}}>
                        <span class="temp">{{data.temp}}</span>
                        <span class="celsius">°C</span>
                    </div>
                    <div class="part-2">
                        <span class="remark">{{data.weather}}</span>
                    </div>
                        
                </div>
        
                <div class="weathercard-details">
                    <div class="details-col-1">
                        <div class="details-row">
                            <p class="details-content">Wind Speed</p>
                            <p class="details-content" style="color: grey;">{{data.wind}} km/h</p>
                        </div>
                        
                        <hr class="details-line">
                        <div class="details-row">
                            <p class="details-content">Humidity</p>
                            <p class="details-content" style="color: grey;">{{data.humidity}}</p>
                        </div>
                        <hr class="details-line">
                        <div class="details-row">
                            <p class="details-content">Max Temp</p>
                            <p class="details-content" style="color: grey;">{{data.maxtemp}}°C</p>
                        </div>
                    </div>
                    <div class="details-col-2">
                        <div class="details-row">
                            <p class="details-content">Pressure</p>
                            <p class="details-content" style="color: grey;">{{data.pressure}} mb</p>
                        </div>
                        <hr class="details-line">
                        <div class="details-row">
                            <p class="details-content">Visibility</p>
                            <p class="details-content" style="color: grey;">{{data.visibility}} km</p>
                        </div>
                        <hr class="details-line">
                        <div class="details-row">
                            <p class="details-content">Min Temp</p>
                            <p class="details-content" style="color: grey;">{{data.mintemp}}°C</p>
                        </div>
                    </div>
                </div>
        
            {%endif %}
            </main>

            <!-- JINJA TEMPLATE -->
            <!-- FLASK INTEGRATION GOES HERE -->

        </div>

    </main>
</body>
</html>